# Riot Games API Key (Opcional - La aplicación funciona 100% en Modo Demo si se deja vacía)
# Obtén tu llave de desarrollo en: https://developer.riotgames.com/
VITE_RIOT_API_KEY=RGAPI-c5439fbf-4c46-4d46-820c-01ae96355ca6
# VITE_RIOT_API_KEY=RGAPI-xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
